body {
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

select {
  width: 100%;
}

.submit {
  display: flex;
  margin-top: 1rem !important;
  margin: 0 auto;
}

.address {
  margin-top: 10px;
}

.employee-list__title {
  text-align: center;
}

.employee-list__nav-link {
  display: flex;
  justify-content: center;
}
